<marked>
    # JavaScript那节课
    #### 2015-11-25

    11月14号的Thoughtworks大讲堂讲了有关JavaScript的东西，下课回来就给毛超大赞了这堂课的课程安排，觉得是开课以来最棒的一次了。

    早上邱大师讲了JS的三个常用方法：map(), filter(), reduce()，用一上午让我们熟悉了它们的用法，同时给我们展示了ECMA6的新特性之一：箭头函数。
    需要callback时哪怕最简单的功能都得加function，return，有了箭头函数写起来就简单多了，一目了然。

        var collection = [1,2,3,4,5];

        collection.map(function(element) {return element+1;});
        collection.map(element => element+1);

    有了上午的基础知识，下午的讲师给大家普及了web的发展史，也讨论了web的发展趋势。没人会知道明天又会兴起哪项技术来引领web潮流，
    但是web开发的生态系统已经趋于稳定，web开发也早已不是用记事本就开发的“原始时代”了。

    最后胡凯来啦。和我们分享了自己的经验，回答了我们的问题。重要的是，用到了类似敏捷开发的方式来回答我们提出的各种问题。归类，
    投票，计时，等等有关的概念，都在回答问题的过程中悄无声息地教给了每个人，并且在最终总结时归纳了出来，把演讲的内容升华到了另一个层面。

    课程安排得很棒，讲师们又有着深厚的技术功底和演讲能力，那天实在是印象深刻。

    **总之，这真是一堂生动而有教育意义的课啊！**
    *（这么高端的总结语终于用上了。）*
</marked>
